<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">لوحة التحكم الرئيسية</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">لوحكم التحكم</a></li>
                    <li class="breadcrumb-item active">الرئيسية</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<%- contentFor('body') %>
<div class="row">
   <% admins.forEach((admin) => { %>
        <div class="col-xl-4">
        <div class="card overflow-hidden">
            <div class="bg-soft-primary">
                <div class="row">
                    <div class="col-7">
                        <div class="text-primary p-3">
                            <h5 class="text-primary">مرحبًا بك <%= admin.fullname %></h5>
                            <p>إلى لوحة التحكم</p>
                        </div>
                    </div>
                    <div class="col-5 align-self-end">
                        <img src="/assets/images/profile-img.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="card-body pt-0">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="avatar-md profile-user-wid mb-4">
                            <img src="/assets/images/users/avatar-1.jpg" alt="" class="img-thumbnail rounded-circle">
                        </div>
                        <h5 class="font-size-15 text-truncate"><%= admin.fullname %></h5>
                        <p class="text-muted mb-0 text-truncate"><%= admin.email.slice(0, 15) %></p>
                    </div>

                    <div class="col-sm-8">
                        <div class="pt-4">

                            <div class="row">
                                <div class="col-6">
                                    <h5 class="font-size-15">5</h5>
                                    <p class="text-muted mb-0">المشاريع</p>
                                </div>
                                <div class="col-6">
                                    <h5 class="font-size-15">$200</h5>
                                    <p class="text-muted mb-0">العائد</p>
                                </div>
                            </div>
                            <div class="mt-4">
                                <button type="button"
                                class="btn btn-primary btn-sm btn-rounded waves-effect waves-light"
                                data-toggle="modal" data-target=".adminDetails<%= admin._id %>">
                                مشاهدة بشكل كامل
                            </button>
                            <div class="modal fade adminDetails<%= admin._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">بيانات المسئول <%= admin.fullname %></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="mb-2">الرقم التعريفي: <span class="text-primary"><%= admin._id  %></span></p>
                                            <p class="mb-2">الاسم الكامل: <span class="text-primary"><%= admin.fullname %></span></p>
                                            <p class="mb-2">البريد الإلكتروني : <span class="text-primary"><%= admin.email %></span></p>
                                             <p>الرقم السري محمي: <span class="text-primary"><%= admin.password %></span></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <% }) %>
    
 
</div>
<!-- end row -->
<div class="row">


<div class="col-md-4">
        <div class="card mini-stats-wid">
            <div class="card-body">
                <div class="media">
                    <div class="media-body">
                        <p class="text-muted font-weight-medium">عدد المسئولين</p>
                        <h4 class="mb-0"><%= admins_count %></h4>
                    </div>

                    <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center">
                        <span class="avatar-title">
                            <i class="bx bx-copy-alt font-size-24"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="col-md-4">
    <div class="card mini-stats-wid">
        <div class="card-body">
            <div class="media">
                <div class="media-body">
                    <p class="text-muted font-weight-medium">عدد الحسابات</p>
                    <h4 class="mb-0"><%= users_count %></h4>
                </div>

                <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center">
                    <span class="avatar-title">
                        <i class="bx bx-copy-alt font-size-24"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card mini-stats-wid">
        <div class="card-body">
            <div class="media">
                <div class="media-body">
                    <p class="text-muted font-weight-medium">عدد الطلبات</p>
                    <h4 class="mb-0"><%= residents_count %></h4>
                </div>

                <div class="mini-stat-icon avatar-sm rounded-circle bg-primary align-self-center">
                    <span class="avatar-title">
                        <i class="bx bx-copy-alt font-size-24"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


</div>


<%- contentFor('FooterJs') %>
<script src="/assets/libs/apexcharts/apexcharts.min.js"></script>
<script src="/assets/js/pages/dashboard.init.js"></script>

<%- contentFor('BottomJs') %>