<%- contentFor('HeaderCss') %>

<%- contentFor('breadcrumb') %>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">جميع الإشعارات الخاصة بالمقيمين</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">لوحة التحكم</a></li>
                    <li class="breadcrumb-item active">الإشعارات</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>
<div class="row">
   <% notifications.forEach((notification) => { %>
    <div class="col-12">
        <div class="media bg-white p-2 shadow mt-2 rounded-lg">
            <div class="avatar-xs mr-3">
                <span class="avatar-title bg-primary rounded-circle font-size-16">
                    <i class="bx bx-cart"></i>
                </span>
            </div>
            <div class="media-body">
                <h6 class="mt-0 mb-1">إشعار جديد</h6>
                <div class="font-size-12 text-muted">
                    <p class="mb-1">قام <%= notification.userID.fullname %> بعمل طلب إقامة.  <a class="btn btn-success btn-sm" target="_blank" href="/dashboard/resident/<%= notification.residentID %>">متابعة الطلب</a> </p>
                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i> إشعار مُنذ <%= moment(notification.createdAt).fromNow() %>
                    </p>
                </div>
                <div class="options">
                   
                </div>
            </div>
        </div>
    </div>
   <% }) %>
</div>


<!-- <div class="row">
    <div class="col-12">
        <div class="text-center my-3">
            <a href="javascript:void(0);" class="text-success"><i class="bx bx-hourglass bx-spin mr-2"></i> Load more
            </a>
        </div>
    </div> 
</div> -->
<!-- end row -->

<%- contentFor('FooterJs') %>
<%- contentFor('BottomJs') %>